<% provide(:title, t("text.contact")) %>
<h1><%= t "text.contact" %></h1>
<p>
  <%= t "text.contact" %> <%= t "text.the" %>
  <%= t "text.rails_tutor" %>. <%=t "text.about_us" %>
  <%= link_to t("text.contact_page"), Settings.href.contact_page %> .
</p>
