<% provide(:title, "Contact") %>
<h1><%=t('text.Contact')%></h1>
<p>
  <%=t('text.Contact')%> <%=t('text.the')%><%=t('text.Ruby on Rails Tutorial')%> <%=t('text.about')%> <%=t('text.the')%> <%=t('text.sample app')%> <%=t('text.at')%> <%=t('text.the')%>
  <%= link_to t('text.contact page') , Settings.href.contact_page %> .
</p>
