<h1><%= t("text.forgot_password") %></h1>
<p><%= t("text.password_link_click") %> :</p>
<%= link_to t("text.reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t("text.expire_content") %></p>
<p><%= t("text.ignore_msg") %></p>
