<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("text.compose_mircropost") %>
  </div>
  <%= f.submit t("text.posted"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: Settings.format.accept_image %>
  </span>
<% end %>
